@font-face {
  font-family: poppins2;
  src: url("../font/Poppins/Poppins-Medium.ttf");
}

.sidebar {
  width:240px;
  background:#ffffff;
      height:100vh;
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      border-right:1px solid #ddd;
      box-shadow:3px 0 15px rgba(0,0,0,0.05);
    }

.sidebar-logo {
      width: 180px; 
      height: auto;
      display: block;
      margin: 0 auto;
      padding-bottom: 35px;
      padding-top: 25px;
    }

    .sidebar-top{
      padding:35px 0;
    }


    .menu{
      display:flex;
      flex-direction:column;
      gap:5px;
    }

    .menu a{
      text-decoration:none;
      color:#333;
      padding:14px 25px;
      display:flex;
      align-items:center;
      gap:12px;
      font-size:14px;
      transition:0.3s;
      font-family: poppins2;
    }

    .menu a:hover{
      background:#5f605f;
      color:white;
    }

.menu a:hover .sidebar-icon,
.menu a:focus .sidebar-icon {
    filter: brightness(0) invert(1);
}

    .menu .active{
      background:#5f605f;
      color:white;
    }

    .sidebar-bottom{
      padding:20px;
    }

    .org-btn{
      width:100%;
      background:#7b7b7b;
      color:white;
      border:none;
      padding:13px;
      border-radius:5px;
      cursor:pointer;
      font-size:13px;
      display:flex;
      justify-content:space-between;
      align-items:center;
    }

    /* MAIN CONTENT */

.main{
    flex:1;
    padding:25px 40px;
    overflow-y:auto;
}

.sidebar-icon {
    width: 20px;       
    height: 20px;
    object-fit: contain;
}
.menu a.active .sidebar-icon {
    filter: brightness(0) invert(1); 
}


.manage-link .btn-icon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(30%) saturate(1000%) hue-rotate(80deg) brightness(90%);
}


.manage-link{
    text-decoration:none;
    color:#4c8a59;
    font-size:12px;
    display:flex;
    align-items:center;
    gap:6px;
}


    @media(max-width:850px){

      body{
        flex-direction:column;
      }

      .sidebar{
        width:100%;
        height:auto;
      }

      .main{
        padding:20px;
      }

    }